@import "tailwindcss";

body {
    @apply bg-gray-100 p-6 font-sans;
}
button {
    @apply mr-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700;
}
input, textarea, select {
    @apply p-2 mb-3 w-80 border rounded;
}
